/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: linear-gradient(to bottom, #25b5ba 0%, #25b5ba 100%);
  font-family: "Lato", sans-serif;
}

body, input, select, textarea {
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75em;
}

a {
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: none;
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: dotted 1px #e4e4e4;
  color: #aaa;
}

strong, b {
  color: #777;
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2.25em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #777;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5em;
  margin: 0 0 0.5625em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border: 0;
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 39.6px;
}

h2 {
  font-size: 36px;
  line-height: 1.5em;
}

h3 {
  font-size: 31.5px;
  line-height: 1.5em;
}

h4 {
  font-size: 22.5px;
  line-height: 1.5em;
}

h5 {
  font-size: 16.2px;
  line-height: 1.5em;
}

h6 {
  font-size: 12.6px;
  line-height: 1.5em;
}

sub {
  font-size: 14.4px;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 14.4px;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 2px #f4f4f4;
  margin: 2.25em 0;
}

hr.major {
  margin: 3.375em 0;
}

blockquote {
  border-left: solid 8px #e4e4e4;
  font-style: italic;
  margin: 0 0 2.25em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: #555;
  border-radius: 5px;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 16.2px;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  font-family: "Source Code Pro", monospace;
  font-size: 16.2px;
  margin: 0 0 2.25em 0;
}

pre code {
  -webkit-overflow-scrolling: touch;
  display: block;
  line-height: 1.5em;
  overflow-x: auto;
  padding: 1em 1.5em;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float {
  overflow: hidden;
}

body {
  min-height: 100vh;
}

body .main {
  padding: 10px;
}

body .main section div {
  min-width: 257px;
  float: left;
  width: 48%;
  margin: 1%;
}

@media screen and (max-width: 600px) {
  body .main section div {
    width: 100%;
    margin: 10px 0;
  }
}

body .main section div.list table {
  width: 100%;
}

body .main section div.list table thead tr {
  border-bottom: solid 1px black;
}

body .main section div.list table thead tr th {
  text-align: left;
  font-weight: bold;
}

body .main section div.list table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

body .main section div.list table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

body .main section div.list table tbody tr td:nth-child(2) {
  text-align: right;
}

body .main section div.list table tbody tr td a {
  margin: 0 5px;
}

body .main section div.list table tbody tr td a:hover {
  color: white;
  text-decoration: underline;
}

body .main section div.note input, body .main section div.note textarea {
  width: 100%;
  padding: 2px;
}

body .main section div.note input:focus, body .main section div.note textarea:focus {
  outline: none;
}

body .main section div.note #title {
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #95D6D6;
}

body .main section div.note #note {
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #95D6D6;
  border-radius: 6px;
  resize: vertical;
  height: 200px;
}
 

 /*# sourceMappingURL= main.css.map */